/basic_hashing/target
/basic_queues/target
/basic_sets/target
/basic_stacks/target
/random_stuff/timer/target
/random_stuff/time_complexity/target
*/target
/solana_anchor/basic_stucture/target
/Mars_Lander/MarsLander1/target
/Mars_Lander/MarsLander2/target


# Added by cargo

/target
